{% extends 'services/base.html' %}

{% block content %}

<h2>Consulta de reparación</h2>

<form method="post">
    {% csrf_token %}

    <input type="text" name="order_number" placeholder="Ej: ST-0003" class="form-control mb-3">

    <button type="submit" class="btn btn-primary">
        Consultar
    </button>
</form>

{% if order %}

<hr>

<h4>Resultado</h4>

<p><strong>Orden:</strong> {{ order.order_number }}</p>
<p><strong>Cliente:</strong> {{ order.name }}</p>
<p><strong>Servicio:</strong> {{ order.service }}</p>
<p><strong>Estado:</strong> {{ order.get_status_display }}</p>

<hr>

<h4>Estado de la reparación</h4>

<ul class="list-group">

<li class="list-group-item">
{% if order.status == "pendiente" %}
✔ Orden recibida
{% else %}
✔ Orden recibida
{% endif %}
</li>

<li class="list-group-item">
{% if order.status == "proceso" or order.status == "finalizado" %}
🔧 En reparación
{% else %}
⏳ En espera
{% endif %}
</li>

<li class="list-group-item">
{% if order.status == "finalizado" %}
✔ Reparación finalizada
{% else %}
⏳ Aún no finalizada
{% endif %}
</li>

</ul>    

<p><strong>Fecha:</strong> {{ order.created_at }}</p>

{% endif %}

{% if error %}
<p class="text-danger">{{ error }}</p>
{% endif %}

{% endblock %}