{% extends 'services/base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}

<div class="bg-dark text-white text-center p-5 p-md-6 rounded mb-5">

    <h1 class="display-4 fw-bold mb-3">
        Servicio Técnico Electrónico
    </h1>

    <p class="lead mb-4">
        Diagnóstico y reparación profesional de placas electrónicas,
        aires acondicionados y equipos eléctricos.
    </p>

    <div class="d-flex justify-content-center gap-3 flex-wrap">

        <a href="{% url 'client_panel' %}" class="btn btn-success btn-lg">
            Consultar reparación
        </a>
                
        <a href="#servicios" class="btn btn-outline-light btn-lg">

            Solicitar servicio
        </a> 

    </div>

</div>

<div class="container mt-5">
  <h2 class="text-center mb-4">Nuestros Servicios, ¿Como funciona?</h2>

    <div class="mt-5">
             
            <div class="row text-center">
                <div class="col-12 col-md-4 mb-4">
                    <div class="p-4 border rounded shadow-sm h-100">
                        <h4 class="fw-bold">1️⃣ Trae tu equipo</h4>
                            <p>
                                Recibimos tu placa electrónica, aire acondicionado o artefacto eléctrico para diagnóstico y reparación.
                            </p>
                    </div>
                </div>

                <div class="col-12 col-md-4 mb-4">
                    <div class="p-3 border rounded shadow-sm h-100">
                        <h4>2️⃣ Diagnóstico</h4>
                            <p>
                            Revisamos el equipo y te informamos la falla y el costo de reparación.
                            </p>
                    </div>
                </div>

                <div class="col-12 col-md-4 mb-4">
                    <div class="p-3 border rounded shadow-sm h-100">
                        <h4>3️⃣ Consulta en línea</h4>
                        <p>
                            Puedes revisar el estado de tu reparación en cualquier momento desde nuestro panel de clientes.
                        </p>
                    </div>
                </div>

            </div>

        </div>
  </div>
  <!---->
  <div class="container mt-5">

    <h2 class="text-center mb-4">¿Por qué elegirnos?</h2>

    <div class="row text-center">

        <div class="col-12 col-md-4 mb-4">
            <div class="p-4 border rounded shadow-sm h-100">
                <h4>🔧 Técnicos especializados</h4>
                <p>
                    Contamos con experiencia en diagnóstico y reparación de
                    placas electrónicas y equipos eléctricos.
                </p>
            </div>
        </div>

        <div class="col-12 col-md-4 mb-4">
            <div class="p-4 border rounded shadow-sm h-100">
                <h4>⚡ Diagnóstico profesional</h4>
                <p>
                    Analizamos cada equipo para identificar la falla real
                    y ofrecer la mejor solución.
                </p>
            </div>
        </div>

        <div class="col-12 col-md-4 mb-4">
            <div class="p-4 border rounded shadow-sm h-100">
                <h4>📱 Seguimiento en línea</h4>
                <p>
                    Puedes consultar el estado de tu reparación
                    desde nuestro panel de clientes en cualquier momento.
                </p>
            </div>
        </div>

    </div>

</div>
  <!---->

  <div class="row">
    <div class="col-12 col-md-4 mb-4">
      <div class="card shadow h-100 border-0">
        <div class="card-body text-center">
          <h5 class="card-title">❄️ Aires Acondicionados</h5>
          <p class="card-text">
            Diagnóstico general, Instalación, Limpieza, Mantenimiento y reparación.
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 mb-4">
      <div class="card shadow h-100 border-0">
        <div class="card-body text-center">
          <h5 class="card-title">🔧 Reparación de Placas Electrónicas</h5>
          <p class="card-text">
            Diagnostico general, Instalación y reparacion.
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 mb-4">
      <div class="card shadow h-100 border-0">
        <div class="card-body text-center">
          <h5 class="card-title">🛠 Diagnóstico Técnico</h5>
          <p class="card-text">
            Revisamos tu equipo para detectar fallas y ofrecer la mejor solución.
          </p>
        </div>
      </div>
    </div>

</div>

<div class="row" id="servicios">
    {% for service in services %}
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm h-100">
                {% if service.image %}
                    <img src="/media/{{ service.image }}" 
                    class="card-img-top"
                    style="height:200px; object-fit:cover;">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'service_detail' service.id %}" class="text-decoration-none">
                        {{ service.title }}
                        </a>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        {{ service.category }}
                    </h6>
                    <p class="card-text">
                        {{ service.description|truncatewords:20 }}
                    </p>
                </div>

                <div class="card-footer">
                    <small class="text-muted">
                        Tiempo: {{ service.estimated_time }} <br>
                        Precio ref: {{ service.reference_price }}
                    </small>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="container mt-5 mb-5">

    <h2 class="text-right mb-4">Contacto y Ubicación</h2>

    <div class="row">

        <div class="col-12 col-md-6">

            <h5>📍 Dirección</h5>
            <p>
                Triunvirato 2051, Quilmes Oeste.
            </p>

            <h5>📞 Teléfono</h5>
            <p>
                +54 91150410180
            </p>

            <h5>💬 WhatsApp</h5>
            <p>
                <a href="https://wa.me/+549 1150410180" class="btn btn-success">
                    Contactar por WhatsApp
                </a>
            </p>

            <h5>🕒 Horario</h5>
            <p>
                Lunes a Viernes: 8:00 AM – 6:00 PM <br>
                Sábados: 9:00 AM – 2:00 PM
            </p>

        </div>

    </div>

</div>
{% endblock %}