{% extends 'services/base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}

<div class="bg-dark text-white text-center p-5 rounded mb-5">
    <h1 class="display-4 fw-bold">Servicio Técnico Electrónico</h1>
    <p class="lead">
        Diagnóstico y reparación profesional de placas electrónicas,
        aires acondicionados y equipos eléctricos.
    </p>

    <a href="{% url 'client_panel' %}" class="btn btn-success btn-lg mt-3">
        Consultar reparación
    </a>

    <a href="{% url 'request_repair' %}" class="btn btn-primary btn-lg">
        Solicitar reparación
    </a>
</div>

<div class="container mt-5">
  <h2 class="text-center mb-4">Nuestros Servicios</h2>
  
    <div class="text-center p-4 bg-light rounded shadow">
        <h3 class="mb-3">Consulta el estado de tu reparación</h3>
        <p>
            Si tienes un equipo en servicio, puedes consultar el estado de tu reparación
            ingresando tu correo electrónico en nuestro panel de clientes.
        </p>
        <a href="{% url 'client_panel' %}" class="btn btn-success btn-lg mt-3">
            Consultar reparación
        </a>
    </div>    

    <div class="mt-5">
            <h2 class="text-center mb-4">Cómo funciona</h2>
            <div class="row text-center">
                <div class="col-12 col-md-4 mb-4">
                    <div class="p-4 border rounded shadow-sm h-100">
                        <h4 class="fw-bold">1️⃣ Trae tu equipo</h4>
                            <p>
                                Recibimos tu placa electrónica, aire acondicionado o artefacto eléctrico para diagnóstico y reparación.
                            </p>
                    </div>
                </div>

                <div class="col-12 col-md-4 mb-4">
                    <div class="p-3 border rounded shadow-sm h-100">
                        <h4>2️⃣ Diagnóstico</h4>
                            <p>
                            Revisamos el equipo y te informamos la falla y el costo de reparación.
                            </p>
                    </div>
                </div>

                <div class="col-12 col-md-4 mb-4">
                    <div class="p-3 border rounded shadow-sm h-100">
                        <h4>3️⃣ Consulta en línea</h4>
                        <p>
                            Puedes revisar el estado de tu reparación en cualquier momento desde nuestro panel de clientes.
                        </p>
                    </div>
                </div>

            </div>

        </div>
  </div>
  <div class="row">

    <div class="col-12 col-md-4 mb-4">
      <div class="card shadow h-100 border-0">
        <div class="card-body text-center">
          <h5 class="card-title">❄️ Aires Acondicionados</h5>
          <p class="card-text">
            Diagnóstico general, Instalación, Limpieza, Mantenimiento y reparación.
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 mb-4">
      <div class="card shadow h-100 border-0">
        <div class="card-body text-center">
          <h5 class="card-title">🔧 Reparación de Placas Electrónicas</h5>
          <p class="card-text">
            Diagnostico general, Instalación y reparacion.
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 mb-4">
      <div class="card shadow h-100 border-0">
        <div class="card-body text-center">
          <h5 class="card-title">🛠 Diagnóstico Técnico</h5>
          <p class="card-text">
            Revisamos tu equipo para detectar fallas y ofrecer la mejor solución.
          </p>
        </div>
      </div>
    </div>

</div>

<div class="row">
    {% for service in services %}
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm h-100">
                {% if service.image %}
                    <img src="/media/{{ service.image }}" 
                    class="card-img-top"
                    style="height:200px; object-fit:cover;">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'service_detail' service.id %}" class="text-decoration-none">
                        {{ service.title }}
                        </a>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        {{ service.category }}
                    </h6>
                    <p class="card-text">
                        {{ service.description|truncatewords:20 }}
                    </p>
                </div>

                <div class="card-footer">
                    <small class="text-muted">
                        Tiempo: {{ service.estimated_time }} <br>
                        Precio ref: {{ service.reference_price }}
                    </small>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}