{% extends "services/base.html" %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow p-4">

        <h2 class="mb-4">Detalle de Orden</h2>

        <div class="progress mb-4" style="height:30px;">

        {% if order.status == "pendiente" %}
            <div class="progress-bar bg-warning" style="width:20%">Recibido</div>

        {% elif order.status == "diagnostico" %}
            <div class="progress-bar bg-info" style="width:40%">Diagnóstico</div>

        {% elif order.status == "proceso" %}
            <div class="progress-bar bg-primary" style="width:60%">En reparación</div>

        {% elif order.status == "espera" %}
            <div class="progress-bar bg-secondary" style="width:80%">Esperando repuesto</div>

        {% elif order.status == "finalizado" %}
            <div class="progress-bar bg-success" style="width:100%">Finalizado</div>

    {% endif %}

</div>
        <p><strong>Número de orden:</strong> {{ order.order_number }}</p>
        <p><strong>Cliente:</strong> {{ order.name }}</p>
        <p><strong>Email:</strong> {{ order.email }}</p>
        <p><strong>Servicio:</strong> {{ order.service.title }}</p>
        <p><strong>Mensaje:</strong> {{ order.message }}</p>

        <p><strong>Estado actual:</strong>
            <span class="badge bg-primary">
                {{ order.get_status_display }}
            </span>
        </p>

        <hr>

        <h4>Cambiar estado de la orden</h4>

        <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Nuevo estado</label>

                <select name="status" class="form-select">

                    <option value="pendiente"
                        {% if order.status == "pendiente" %}selected{% endif %}>
                        Pendiente
                    </option>

                    <option value="diagnostico"
                        {% if order.status == "diagnostico" %}selected{% endif %}>
                            Diagnóstico
                    </option>

                    <option value="proceso"
                        {% if order.status == "proceso" %}selected{% endif %}>
                            En proceso
                    </option>

                    <option value="espera"
                        {% if order.status == "espera" %}selected{% endif %}>
                            En espera repuesto
                    </option>

                    <option value="finalizado"
                        {% if order.status == "finalizado" %}selected{% endif %}>
                            Finalizado
                    </option>

                </select>

            </div>

            <button type="submit" class="btn btn-success">
                Actualizar estado
            </button>

        </form>

        <hr>

        <h5>Cambiar estado</h5>

        <a href="{% url 'update_order_status' order.id 'pendiente' %}" class="btn btn-warning btn-sm">Pendiente</a>

        <a href="{% url 'update_order_status' order.id 'diagnostico' %}" class="btn btn-info btn-sm">Diagnóstico</a>

        <a href="{% url 'update_order_status' order.id 'proceso' %}" class="btn btn-primary btn-sm">Reparación</a>

        <a href="{% url 'update_order_status' order.id 'espera' %}" class="btn btn-secondary btn-sm">Esperando repuesto</a>

        <a href="{% url 'update_order_status' order.id 'finalizado' %}" class="btn btn-success btn-sm">Finalizado</a>
        <p><strong>Fecha:</strong> {{ order.created_at }}</p>

        {% if order.image %}
        <div class="mt-3">
            <strong>Imagen enviada:</strong><br>
            <img src="{{ order.image.url }}" class="img-fluid mt-2" style="max-width:300px;">
        </div>
        {% endif %}

        <hr>

        <h4>Historial de reparación</h4>

        {% if order.history.all %}

          <ul class="list-group">

            {% for item in order.history.all %}

            <li class="list-group-item">

              <strong>{{ item.created_at|date:"d M Y H:i" }}</strong>

              <br>

              {{ item.description }}

            </li>

            {% endfor %}

          </ul>

        {% else %}

            <p>No hay historial aún.</p>

        {% endif %}

    </div>

</div>

{% endblock %}