{% extends "services/base.html" %}
{% block content %}

<div class="container mt-5">
    <h2 class="mb-4">Panel del Taller</h2>
    <div class="card shadow p-4">
        
        <div class="container mt-4">

            <h2 class="mb-4">Panel del Taller</h2>

            <div class="row text-center mb-4">

                <div class="col-md-2">
                    <div class="card bg-warning">
                        <div class="card-body">
                            <h5>Pendientes</h5>
                            <h3>{{ pendientes }}</h3>
                        </div>
                    </div>
                </div>  

                <div class="col-md-2">
                    <div class="card bg-info">
                        <div class="card-body">
                            <h5>Diagnóstico</h5>
                            <h3>{{ diagnostico }}</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card bg-primary text-white">
                        <div class="card-body">
                            <h5>En reparación</h5>
                            <h3>{{ proceso }}</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card bg-secondary text-white">
                        <div class="card-body">
                            <h5>Esperando repuesto</h5>
                            <h3>{{ espera }}</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card bg-success text-white">
                        <div class="card-body">
                            <h5>Finalizadas</h5>
                            <h3>{{ finalizado }}</h3>
                        </div>
                    </div>
                </div>

        </div>
        
        <div class="mb-3">
            <form method="GET">
                <select name="status" class="form-select w-auto d-inline">
                    <option value="">Todos los estados</option>
                    <option value="pendiente">Pendiente</option>
                    <option value="proceso">En reparación</option>
                    <option value="finalizado">Terminado</option>
                    <option value="entregado">Entregado</option>
                </select>

                <button type="submit" class="btn btn-primary">
                    Filtrar
                </button>
            </form>
        </div>

        <form method="get" class="row g-2 mb-3">

            <div class="col-md-4">
                <input type="text" 
                name="buscar" 
                class="form-control"
                placeholder="Buscar por cliente o número de orden"
                value="{{ request.GET.buscar }}">
            </div>

            <div class="col-md-3">
                <select name="status" class="form-select">
                    <option value="">Todos los estados</option>
                    <option value="pendiente">Pendiente</option>
                    <option value="diagnostico">Diagnóstico</option>
                    <option value="proceso">En proceso</option>
                    <option value="espera">En espera repuesto</option>
                    <option value="finalizado">Finalizado</option>
                </select>
            </div>

            <div class="col-md-2">
                <button type="submit" class="btn btn-primary w-100">
                    Buscar
                </button>
            </div>

            <div class="col-md-2">
                <a href="{% url 'workshop_panel' %}" class="btn btn-secondary w-100">
                    Limpiar
                </a>
            </div>

        </form>

        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Orden</th>
                    <th>Cliente</th>
                    <th>Servicio</th>
                    <th>Estado</th>
                    <th>Fecha</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.order_number }}</td>
                    <td>
                        {{ order.name }} <br>
                        <small>{{ order.phone }}</small>
                    </td>
                    <td>{{ order.service.title }}</td>
                    <td>
                        {% if order.status == "pendiente" %}
                            <span class="badge bg-warning text-dark">Pendiente</span>
                        {% elif order.status == "diagnostico" %}
                            <span class="badge bg-info text-dark">Diagnóstico</span>
                        {% elif order.status == "proceso" %}
                            <span class="badge bg-primary">En reparación</span>
                        {% elif order.status == "espera" %}
                            <span class="badge bg-secondary">Esperando repuesto</span>
                        {% elif order.status == "finalizado" %}
                            <span class="badge bg-success">Finalizado</span>
                        {% endif %}
                    </td>
                    <td>{{ order.created_at|date:"d/m/Y" }}</td>
                    <td>
                        <a href="{% url 'update_order' order.id %}" class="btn btn-primary">
                            Ver / Editar
                        </a>
                    </td>
                    <!--<td>
                        <a href="/order/{{ order.order_number }}/" class="btn btn-sm btn-dark">
                            Ver
                        </a>
                    </td>
                    !-->
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center">
                        No hay órdenes registradas
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}